body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./фон-стена.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
