body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("common/фон-цветы-светлый.jpg");
  background-size: 300px 300px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



